@model SocialMediaScheduler.Models.Tweet
@{
	ViewData["Title"] = "Social Media Scheduler";
}

<style>
	.editor-field {
		text-align: center;
	}
</style>

<style>
	.media-text-box {
		height: 200px;
		width: 600px;
	}
</style>

<p></p>

<div class="text-center">
	<form asp-action="Index">
		<h3>Tweet Content</h3>
		<input asp-for="TweetText" class="media-text-box" />
		<p></p>
		<p>
			<input type="submit" value="Tweet" class="btn btn-primary"  />
		</p>
	</form>
</div>

